body {
}
div > div > div > a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.3em;
}
#categoriesList{
    border-right: 5px double;
    border-color: MidnightBlue;
}
#allPosts .currentPost {
    background-color: #EAEAEA;
    padding-left: 16px;
    padding-bottom: 29px;
    padding-top: 1px;
    border-radius: 10px;
}
button[type="submit"]{
    padding: 1px 5px;
}
.alert.alert-info {
    background-color:#F8F8FF;
}
.categoriesHeading {
    color:#428bca;
    margin-top: -5px;
}