#mainContent {
    font-size:15px;
}
.authorAndScore{
    color:#428bca;
}
form > textarea {
    max-width: 100%;
    min-width: 100%;
    height: 120px;
}
.content {
    border: cornflowerblue solid 1px;
    font-size: 15px;
    border-radius: 3px;
    padding: 7px;
    width: 283px;

}

.postConfigButton, .textPostBtn, #Like {
    padding: 3px;
    margin: 3px;
    margin-bottom: 10px;
}
.formButtons > form {
    display: inline-block;
}
.commentButton {
    margin-top: 10px;
}

textarea {
    border-width: 2px;
    display: block;
    width: 600px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    border: 1px solid cornflowerblue;
    border-radius: 4px;
}
.blueHeading {
    color:#428bca;
}
.allComments{
    margin-top: 10px;
    padding:3px;
    border-bottom: 1px solid;
    border-bottom-color: MidnightBlue;
}
